.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/_build/
/src/*.egg-info/
__pycache__/
/.idea/
/.worktrees/
/.pi/factory.json
/docs/agents/issue-tracker.md
/.unforget/

